<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base_style.css') }}">
  </head>
  <body>
    
    <div>

      <!-- NAV -->
      <section class="nav">
        <!-- logo and navlinks -->
        <div class="title-navlinks-flex-group">
          <h3 class="nav__title">The Intentional Cook</h3>
          <ul class="nav__links">
            <li><a href="#">Recipes</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </div>

        <!-- icons group -->
        <div class="nav-icons-flex-group">
          <!-- Search Icon -->
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search-icon lucide-search"><path d="m21 21-4.34-4.34"/><circle cx="11" cy="11" r="8"/></svg>            
          </div>
          <!-- Account Icon -->
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-user-icon lucide-circle-user"><circle cx="12" cy="12" r="10"/><circle cx="12" cy="10" r="3"/><path d="M7 20.662V19a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1.662"/></svg>
          </div>
        </div>
      </section>

      <!-- HERO -->
      <section class="hero">
        <div class="hero__content">
          <p class="hero__subtitle">The Process</p>
          <h3 class="hero__title">The Art of Slow Cooking</h3>
          <p class="hero__text">
            Find beauty in the simmer. We explore the meditative side of the kitchen, where time is the most essential ingredient.
          </p>
          <div class="hero__btn_flex-group">
            <a role="button" class="hero__btn_primary">Explore Recipes</a>
            <a role="button" class="hero__btn_secondary">Out Story</a>
          </div>
        </div>
      </section>

      <!-- COLLECTIONS -->
       <section class="collections">

        <!-- collection 1 -->
        <div class="collection">
            
            <div class="category-link_flex-group">
              <h2 class="category-title">Autumn Foundations</h2>
              <a class="link_view_all" href="#">View Collection</a>
            </div>

            <div class="recipe__grid">
              
              <!-- RECIPE 1 -->
              <div class="recipe__card homepage_recipe_card">
                <div class="recipe_image">
                  <img src="{{ url_for('static', filename='images/roasted-harvest-salad.png') }}" alt="">
                </div>

                <div class="recipe_card__info_container">
                  <div class="collection__labels">
                    
                    <div class="collection__label__time">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clock5-icon lucide-clock-5"><circle cx="12" cy="12" r="10"/><path d="M12 6v6l2 4"/></svg>
                      <p>45 min</p>
                    </div>
      
                    <div class="collection__label__difficulty">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-utensils-crossed-icon lucide-utensils-crossed"><path d="m16 2-2.3 2.3a3 3 0 0 0 0 4.2l1.8 1.8a3 3 0 0 0 4.2 0L22 8"/><path d="M15 15 3.3 3.3a4.2 4.2 0 0 0 0 6l7.3 7.3c.7.7 2 .7 2.8 0L15 15Zm0 0 7 7"/><path d="m2.1 21.8 6.4-6.3"/><path d="m19 5-7 7"/></svg>
                      <p>Intermediate</p>
                    </div>
                    
                  </div>

                  <h3 class="collection__title">Roasted Harvest Salad</h3>
      
                  <p class="collection__description">
                    A celebration of texture and tone, pairing earthy squash...
                  </p>
                </div>
    
    
              </div>

              <!-- RECIPE 2 -->
              <div class="recipe__card homepage_recipe_card">
                <div class="recipe_image">
                  <img src="{{ url_for('static', filename='images/intentional-sourdough.png') }}" alt="">
                </div>

                <div class="recipe_card__info_container">
                  <div class="collection__labels">
                    
                    <div class="collection__label__time">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clock5-icon lucide-clock-5"><circle cx="12" cy="12" r="10"/><path d="M12 6v6l2 4"/></svg>
                      <p>24 Hours</p>
                    </div>
      
                    <div class="collection__label__difficulty">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-utensils-crossed-icon lucide-utensils-crossed"><path d="m16 2-2.3 2.3a3 3 0 0 0 0 4.2l1.8 1.8a3 3 0 0 0 4.2 0L22 8"/><path d="M15 15 3.3 3.3a4.2 4.2 0 0 0 0 6l7.3 7.3c.7.7 2 .7 2.8 0L15 15Zm0 0 7 7"/><path d="m2.1 21.8 6.4-6.3"/><path d="m19 5-7 7"/></svg>
                      <p>Advanced</p>
                    </div>
                    
                  </div>

                  <h3 class="collection__title">Intentional Sourdough</h3>
      
                  <p class="collection__description">
                    The ultimate lesson in patience. Mastering the sourdough rhythm a...
                  </p>
                </div>
    
    
              </div>

              <!-- RECIPE 3 -->
              <div class="recipe__card homepage_recipe_card">
                <div class="recipe_image">
                  <img src="{{ url_for('static', filename='images/golden-bone-broth.png') }}" alt="">
                </div>

                <div class="recipe_card__info_container">
                  <div class="collection__labels">
                    
                    <div class="collection__label__time">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clock5-icon lucide-clock-5"><circle cx="12" cy="12" r="10"/><path d="M12 6v6l2 4"/></svg>
                      <p>12 HRS</p>
                    </div>
      
                    <div class="collection__label__difficulty">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-utensils-crossed-icon lucide-utensils-crossed"><path d="m16 2-2.3 2.3a3 3 0 0 0 0 4.2l1.8 1.8a3 3 0 0 0 4.2 0L22 8"/><path d="M15 15 3.3 3.3a4.2 4.2 0 0 0 0 6l7.3 7.3c.7.7 2 .7 2.8 0L15 15Zm0 0 7 7"/><path d="m2.1 21.8 6.4-6.3"/><path d="m19 5-7 7"/></svg>
                      <p>Beginner</p>
                    </div>
                    
                  </div>

                  <h3 class="collection__title">Golden Bone Broth</h3>
      
                  <p class="collection__description">
                    A slow-simmered foundation for winter wellness and deep flavor.
                  </p>
                </div>
    
    
              </div>
              
            </div>
          
        </div>

        <!-- collection 2 -->
        <div class="collection">
            
            <div class="category-link_flex-group">
              <h2 class="category-title">Autumn Foundations</h2>
              <a class="link_view_all" href="#">View Collection</a>
            </div>

            <div class="recipe__grid">
              
              <!-- RECIPE 1 -->
              <div class="recipe__card homepage_recipe_card">
                <div class="recipe_image">
                  <img src="{{ url_for('static', filename='images/roasted-harvest-salad.png') }}" alt="">
                </div>

                <div class="recipe_card__info_container">
                  <div class="collection__labels">
                    
                    <div class="collection__label__time">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clock5-icon lucide-clock-5"><circle cx="12" cy="12" r="10"/><path d="M12 6v6l2 4"/></svg>
                      <p>45 min</p>
                    </div>
      
                    <div class="collection__label__difficulty">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-utensils-crossed-icon lucide-utensils-crossed"><path d="m16 2-2.3 2.3a3 3 0 0 0 0 4.2l1.8 1.8a3 3 0 0 0 4.2 0L22 8"/><path d="M15 15 3.3 3.3a4.2 4.2 0 0 0 0 6l7.3 7.3c.7.7 2 .7 2.8 0L15 15Zm0 0 7 7"/><path d="m2.1 21.8 6.4-6.3"/><path d="m19 5-7 7"/></svg>
                      <p>Intermediate</p>
                    </div>
                    
                  </div>

                  <h3 class="collection__title">Roasted Harvest Salad</h3>
      
                  <p class="collection__description">
                    A celebration of texture and tone, pairing earthy squash...
                  </p>
                </div>
    
    
              </div>

              <!-- RECIPE 2 -->
              <div class="recipe__card homepage_recipe_card">
                <div class="recipe_image">
                  <img src="{{ url_for('static', filename='images/intentional-sourdough.png') }}" alt="">
                </div>

                <div class="recipe_card__info_container">
                  <div class="collection__labels">
                    
                    <div class="collection__label__time">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clock5-icon lucide-clock-5"><circle cx="12" cy="12" r="10"/><path d="M12 6v6l2 4"/></svg>
                      <p>24 Hours</p>
                    </div>
      
                    <div class="collection__label__difficulty">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-utensils-crossed-icon lucide-utensils-crossed"><path d="m16 2-2.3 2.3a3 3 0 0 0 0 4.2l1.8 1.8a3 3 0 0 0 4.2 0L22 8"/><path d="M15 15 3.3 3.3a4.2 4.2 0 0 0 0 6l7.3 7.3c.7.7 2 .7 2.8 0L15 15Zm0 0 7 7"/><path d="m2.1 21.8 6.4-6.3"/><path d="m19 5-7 7"/></svg>
                      <p>Advanced</p>
                    </div>
                    
                  </div>

                  <h3 class="collection__title">Intentional Sourdough</h3>
      
                  <p class="collection__description">
                    The ultimate lesson in patience. Mastering the sourdough rhythm a...
                  </p>
                </div>
    
    
              </div>

              <!-- RECIPE 3 -->
              <div class="recipe__card homepage_recipe_card">
                <div class="recipe_image">
                  <img src="{{ url_for('static', filename='images/golden-bone-broth.png') }}" alt="">
                </div>

                <div class="recipe_card__info_container">
                  <div class="collection__labels">
                    
                    <div class="collection__label__time">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clock5-icon lucide-clock-5"><circle cx="12" cy="12" r="10"/><path d="M12 6v6l2 4"/></svg>
                      <p>12 HRS</p>
                    </div>
      
                    <div class="collection__label__difficulty">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-utensils-crossed-icon lucide-utensils-crossed"><path d="m16 2-2.3 2.3a3 3 0 0 0 0 4.2l1.8 1.8a3 3 0 0 0 4.2 0L22 8"/><path d="M15 15 3.3 3.3a4.2 4.2 0 0 0 0 6l7.3 7.3c.7.7 2 .7 2.8 0L15 15Zm0 0 7 7"/><path d="m2.1 21.8 6.4-6.3"/><path d="m19 5-7 7"/></svg>
                      <p>Beginner</p>
                    </div>
                    
                  </div>

                  <h3 class="collection__title">Golden Bone Broth</h3>
      
                  <p class="collection__description">
                    A slow-simmered foundation for winter wellness and deep flavor.
                  </p>
                </div>
    
    
              </div>
              
            </div>
          
        </div>

        <!-- collection 3 -->
        <div class="collection">
            
            <div class="category-link_flex-group">
              <h2 class="category-title">Autumn Foundations</h2>
              <a class="link_view_all" href="#">View Collection</a>
            </div>

            <div class="recipe__grid">
              
              <!-- RECIPE 1 -->
              <div class="recipe__card homepage_recipe_card">
                <div class="recipe_image">
                  <img src="{{ url_for('static', filename='images/roasted-harvest-salad.png') }}" alt="">
                </div>

                <div class="recipe_card__info_container">
                  <div class="collection__labels">
                    
                    <div class="collection__label__time">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clock5-icon lucide-clock-5"><circle cx="12" cy="12" r="10"/><path d="M12 6v6l2 4"/></svg>
                      <p>45 min</p>
                    </div>
      
                    <div class="collection__label__difficulty">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-utensils-crossed-icon lucide-utensils-crossed"><path d="m16 2-2.3 2.3a3 3 0 0 0 0 4.2l1.8 1.8a3 3 0 0 0 4.2 0L22 8"/><path d="M15 15 3.3 3.3a4.2 4.2 0 0 0 0 6l7.3 7.3c.7.7 2 .7 2.8 0L15 15Zm0 0 7 7"/><path d="m2.1 21.8 6.4-6.3"/><path d="m19 5-7 7"/></svg>
                      <p>Intermediate</p>
                    </div>
                    
                  </div>

                  <h3 class="collection__title">Roasted Harvest Salad</h3>
      
                  <p class="collection__description">
                    A celebration of texture and tone, pairing earthy squash...
                  </p>
                </div>
    
    
              </div>

              <!-- RECIPE 2 -->
              <div class="recipe__card homepage_recipe_card">
                <div class="recipe_image">
                  <img src="{{ url_for('static', filename='images/intentional-sourdough.png') }}" alt="">
                </div>

                <div class="recipe_card__info_container">
                  <div class="collection__labels">
                    
                    <div class="collection__label__time">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clock5-icon lucide-clock-5"><circle cx="12" cy="12" r="10"/><path d="M12 6v6l2 4"/></svg>
                      <p>24 Hours</p>
                    </div>
      
                    <div class="collection__label__difficulty">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-utensils-crossed-icon lucide-utensils-crossed"><path d="m16 2-2.3 2.3a3 3 0 0 0 0 4.2l1.8 1.8a3 3 0 0 0 4.2 0L22 8"/><path d="M15 15 3.3 3.3a4.2 4.2 0 0 0 0 6l7.3 7.3c.7.7 2 .7 2.8 0L15 15Zm0 0 7 7"/><path d="m2.1 21.8 6.4-6.3"/><path d="m19 5-7 7"/></svg>
                      <p>Advanced</p>
                    </div>
                    
                  </div>

                  <h3 class="collection__title">Intentional Sourdough</h3>
      
                  <p class="collection__description">
                    The ultimate lesson in patience. Mastering the sourdough rhythm a...
                  </p>
                </div>
    
    
              </div>

              <!-- RECIPE 3 -->
              <div class="recipe__card homepage_recipe_card">
                <div class="recipe_image">
                  <img src="{{ url_for('static', filename='images/golden-bone-broth.png') }}" alt="">
                </div>

                <div class="recipe_card__info_container">
                  <div class="collection__labels">
                    
                    <div class="collection__label__time">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clock5-icon lucide-clock-5"><circle cx="12" cy="12" r="10"/><path d="M12 6v6l2 4"/></svg>
                      <p>12 HRS</p>
                    </div>
      
                    <div class="collection__label__difficulty">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-utensils-crossed-icon lucide-utensils-crossed"><path d="m16 2-2.3 2.3a3 3 0 0 0 0 4.2l1.8 1.8a3 3 0 0 0 4.2 0L22 8"/><path d="M15 15 3.3 3.3a4.2 4.2 0 0 0 0 6l7.3 7.3c.7.7 2 .7 2.8 0L15 15Zm0 0 7 7"/><path d="m2.1 21.8 6.4-6.3"/><path d="m19 5-7 7"/></svg>
                      <p>Beginner</p>
                    </div>
                    
                  </div>

                  <h3 class="collection__title">Golden Bone Broth</h3>
      
                  <p class="collection__description">
                    A slow-simmered foundation for winter wellness and deep flavor.
                  </p>
                </div>
    
    
              </div>
              
            </div>
          
        </div>

       </section>
       
    </div>

  </body>
</html>
