{% extends 'base.html' %}

{% block content%}
<section class="recipe">

    <div class="recipe__hero__container">

        <img src="{{ url_for('static', filename='images/bread-2.jpg') }}" alt="">


        <div class="recipe__hero__card">

            <div class="recipe__hero__text_block">
            <p class="recipe__category">Boulangerie Series</p>
            
            <h2 class="recipe_title">Heirloom Sourdough Boule</h2>

            <div class="recipe__info_block">
                <div class="recipe__icon_text_flex-group">
                <div class="recipe__icon_time">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="recipe__icon_time"><circle cx="12" cy="12" r="10"/><path d="M12 6v6l4 2"/></svg>
                </div>
                <p>72 hrs (Total Time)</p>
                </div>

                <div class="recipe__icon_text_flex-group">
                <div class="recipe__icon_difficulty">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chart-no-axes-column-icon lucide-chart-no-axes-column"><path d="M5 21v-6"/><path d="M12 21V3"/><path d="M19 21V9"/></svg>
                </div>
                <p>Advanced Difficulty</p>
                </div>

                <div class="recipe__icon_text_flex-group">
                <div class="recipe__icon_utensils">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-utensils-icon lucide-utensils"><path d="M3 2v7c0 1.1.9 2 2 2h4a2 2 0 0 0 2-2V2"/><path d="M7 2v20"/><path d="M21 15V2a5 5 0 0 0-5 5v6c0 1.1.9 2 2 2h3Zm0 0v7"/></svg>
                </div>
                <p>Makes 1 Large Loaf</p>
                </div>
            </div>

            </div>

            <a href="#" role="button" class="recipe__instructions_link_btn">Jump to Instructions</a>

        </div>

    </div>

    

    <p class="recipe__quote">
        "A three-day journey of fermentation resulting in a deep, complex crumb and a blistered, golden crust. This boule celebrates the slow, intentional ritual of traditional breadmaking."
    </p>

    <div class="ingredients-container">
        <p class="ingredients-header">Ingredients</p>

        <div class="ingredients-list">
        <p>500g Stone-ground Bread Flour</p>
        <p>100g Active Sourdough Starter</p>
        <p>Rice Flour (for dusting)</p>
        <p>375g Filtered Water (Room Temp)</p>
        <p>10g Sea Salt</p>
        </div>
    </div>


    <div class="recipe_steps_container">

        <h2 class="recipe_header">Preparation</h2>

        <div class="recipe_steps">

        <div class="recipe_step">
            <p class="recipe_step_title">Autolyse</p>
            <p class="recipe_step_detail">
            Combine the bread flour and water in a large ceramic bowl until no dry spots remain. Cover with a damp linen cloth and let the mixture rest for at least 1 hour. This allows the flour to fully hydrate and gluten development to begin naturally.
            </p>
        </div>

        <div class="recipe_step">
            <p class="recipe_step_title">Autolyse</p>
            <p class="recipe_step_detail">
            Combine the bread flour and water in a large ceramic bowl until no dry spots remain. Cover with a damp linen cloth and let the mixture rest for at least 1 hour. This allows the flour to fully hydrate and gluten development to begin naturally.
            </p>
        </div>
        
        <div class="recipe_step">
            <p class="recipe_step_title">Autolyse</p>
            <p class="recipe_step_detail">
            Combine the bread flour and water in a large ceramic bowl until no dry spots remain. Cover with a damp linen cloth and let the mixture rest for at least 1 hour. This allows the flour to fully hydrate and gluten development to begin naturally.
            </p>
        </div>

        <div class="recipe_step">
            <p class="recipe_step_title">Autolyse</p>
            <p class="recipe_step_detail">
            Combine the bread flour and water in a large ceramic bowl until no dry spots remain. Cover with a damp linen cloth and let the mixture rest for at least 1 hour. This allows the flour to fully hydrate and gluten development to begin naturally.
            </p>
        </div>

        <div class="recipe_step">
            <p class="recipe_step_title">Autolyse</p>
            <p class="recipe_step_detail">
            Combine the bread flour and water in a large ceramic bowl until no dry spots remain. Cover with a damp linen cloth and let the mixture rest for at least 1 hour. This allows the flour to fully hydrate and gluten development to begin naturally.
            </p>
        </div>
        </div>


    </div>


</section>
{% endblock content%}